body{
	background-color: blue;

}

main{
	width: 960px;
	height: auto;
	margin: auto;
	border-style: double;
	border-width: 7px;
	border-color: black;
	padding: 20px;
	background-color: orange;

}
#div1{
	display: table;
}

li{
	margin-left: 10px;
	
}

#p1{
	float: right;
	width: 600px;
	margin-left: 10px;
}

#i1{
	float: left;
}